html, body { height:100%; margin: 0; }

#background {
  z-index:1;
  
  /* pin to top left */
  position: fixed; 
  top: 0; 
  right: 0; 
	
  /* Fill and preserve aspet ratio */
  
  min-height: 100%;
  
  max-height: 135%;
}

#logo {
  z-index:2;
  
  /* center image */
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -295px;
  margin-top: -166px;
}

#email {
  z-index:3;
  
  bottom: 0;
  position: absolute;
  left: 50%;
  position: fixed;
  bottom: 0;
  margin-left: -295px;
}

@media all and (min-width: 590px) {
  #background {
    min-width: 100%;
    max-width: 250%;
  }
}

@media all and (max-width: 590px) {
  .scales {
    left: 0 !important;
    max-width: 100% !important;
    position: absolute !important;
    margin-left: 0 !important;
  }
}